<p id="notice"><%= notice %></p>

<%= render partial: 'todos/show', locals: { todo: @todo } %>

<% if params[:sha] %>
  <%= link_to 'Back', todo_path(@todo) %>
<% else %>
  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Back', todos_path %>
<% end %>

<% unless params[:sha] %>
  <%= render partial: 'git_base/history', locals: { object: @todo, path_func: ->(todo_params){ todo_path(@todo, todo_params) } } %>
<% end %>
