<p id="notice"><%= notice %></p>

<p>
  <strong>Short description:</strong>
  <%= @todo.short_description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @todo.order %>
</p>

<p>
  <strong>State:</strong>
  <%= @todo.state %>
</p>

<h2>History</h2>
<% @todo.history.entries.each do |history_entry| %>
  <p><%= history_entry.sha %></p>
  <p><%= history_entry.time %></p>
<% end %>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
